canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #E8E8E7;
}

body {
  font-family: 'Lobster';
  background-color: black;
}

.footer {
  position: absolute;
  margin-left: 45%;
  bottom: 0.5em;
  top: auto;
  font-family: 'Bangers';
  font-size: 0.75em;
  color: #fff;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer a:hover {
  color: #E8E8E7;
}

/* Game Opening Screen */

#player_name_form {
  font-family: 'Bangers';
  position: relative;
  text-align: center;
  top: 37%;
}

#player_name_form input {
  font-family: 'Bangers';
  font-size: 16px;
  text-align: center;
  padding: 0.5em;
}

#submit_player_name {
  font-family: 'Bangers';
  font-size: 16px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border: none;
  padding: 0.5em;
}

#submit_player_name:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}

.reset_game_box {
  position: relative;
  text-align: center;
  top: 310;
}

#reset_game {
  font-family: 'Bangers';
  font-size: 16px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border: none;
  padding: 0.5em;
}

#reset_game:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}
